@import "~bootstrap/scss/bootstrap";

.timer {
  margin-top: 50px;
  width: 720px;
}

.clock {
  display: block;
  text-align: center;
  .time {
    display: inline-block;
    font-size: 30px;
  }
  .dots {
    display: inline-block;
    font-size: 30px;
  }
}

.buttons-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.input-time {
  border: none;
  font-size: 30px;
  width: 40px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}